.bi-check-square{
    color: lightgreen;
}

.bi-check-square:hover{
    color: rgb(101, 240, 101);
    cursor: pointer;
}

.bi-pencil-square{
    color: lightblue;
}

.bi-pencil-square:hover{
    color: rgb(109, 199, 230);
    cursor: pointer;
}

.bi-x-square{
    color: lightcoral;
}

.bi-x-square:hover{
    color: rgb(219, 103, 103);
    cursor: pointer;
}

li{
    cursor: pointer;
}

.list-group-item:hover{
    background-color: rgba(169, 169, 169, 0.25);
}

.completed{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2);
}